<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Premier Leauge" />
    <meta name="theme-color" content="#2C002F" />
    <link rel="shortcut icon" href="favicon.ico">
    <link rel="apple-touch-icon" href="icon192.png">
    <title>Premier Leauge</title>
    <link rel="manifest" href="/manifest.webmanifest">
</head>

<body>

    <navigation-bar></navigation-bar>

    <main>
        <div class="center-align" style="margin-top: 100px;">
            <div class="preloader-wrapper small active">
                <div class="spinner-layer spinner-green-only">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div>
                    <div class="gap-patch">
                        <div class="circle"></div>
                    </div>
                    <div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>

</html>